# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcworkspace
xcuserdata/
*.xccheckout
*.xcodeproj/project.xcworkspace/

# Swift Package Manager
.swiftpm/
.build/

# CocoaPods
Pods/

# Carthage
Carthage/

# Firebase
GoogleService-Info.plist

# Diğer
*.log